<h1>Novo Endereço</h1>
<div class="well">
  <form #formEndereco="ngForm">
    <div class="form-group">
      <label for="rua">Rua:</label>
      <input [(ngModel)]="endereco.rua" #rua="ngModel" type="text" class="form-control" id="rua" name="rua"
        minlength="2" required />
      <div *ngIf="rua.errors && (rua.dirty || rua.touched)" class="alert alert-danger">
        <div [hidden]="!rua.errors.required">Digite o rua da endereco.</div>
        <div [hidden]="!rua.errors.minlength">
          O rua deve conter ao menos 2 caracteres.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="numero">Numero:</label>
      <input type="text" class="form-control" id="numero" name="numero" required [(ngModel)]="endereco.numero"
        #numero="ngModel" numerico />
      <div *ngIf="numero.errors && (numero.dirty || numero.touched)" class="alert alert-danger">
        <div [hidden]="!numero.errors.required">
          Digite a numero do endereco.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="complemento">Complemento:</label>
      <input type="text" class="form-control" id="complemento" name="complemento" [(ngModel)]="endereco.complemento"
        #complemento="ngModel" />
      <div *ngIf="complemento.errors && (complemento.dirty || complemento.touched)" class="alert alert-danger">
        <div [hidden]="!complemento.errors.required">
          Digite a complemento do endereco.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="complemento">Bairro:</label>
      <input type="text" class="form-control" id="bairro" name="bairro" [(ngModel)]="endereco.bairro"
        #bairro="ngModel" />
      <div *ngIf="bairro.errors && (bairro.dirty || bairro.touched)" class="alert alert-danger">
        <div [hidden]="!bairro.errors.required">
          Digite a bairro do endereco.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="cep">CEP:</label>
      <input type="text" class="form-control" id="cep" name="cep" [(ngModel)]="endereco.cep" #cep="ngModel" />
      <div *ngIf="cep.errors && (cep.dirty || cep.touched)" class="alert alert-danger">
        <div [hidden]="!cep.errors.required">Digite a cep do endereco.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="cidade">Cidade:</label>
      <input type="text" class="form-control" id="cidade" name="cidade" [(ngModel)]="endereco.cidade"
        #cidade="ngModel" />
      <div *ngIf="cidade.errors && (cidade.dirty || cidade.touched)" class="alert alert-danger">
        <div [hidden]="!cidade.errors.required">
          Digite a cidade do endereco.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="estado">Estado:</label>
      <input type="text" class="form-control" id="estado" name="estado" [(ngModel)]="endereco.estado"
        #estado="ngModel" />
      <div *ngIf="estado.errors && (estado.dirty || estado.touched)" class="alert alert-danger">
        <div [hidden]="!estado.errors.required">
          Digite a estado do endereco.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="residencial">Residencial:</label>
      <input type="checkbox" class="form-check-input" id="residencial" name="residencial"
        [(ngModel)]="endereco.residencial" #residencial="ngModel">
    </div>
    <div class="row">
      <button type="button" class="btn btn-primary" (click)="inserir()" [disabled]="!formEndereco.form.valid">
        <i class="fa fa-save" aria-hidden="true"></i> Salvar
      </button>
      <a [routerLink]="['/enderecos']" class="btn btn-secondary">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
      </a>
    </div>
  </form>
</div>